// ==========================================================================
// Color
// ==========================================================================

$light-white           : #fefeff;
$heavy-white           : #ffffff;
$action-background     : #ffcd35;
$black                 : #3a404a;
$dark-blue             : #0e1728;
$dark-yellow           : #ffc000;
$works-background      : #141c2d;
$service-background    : #ffc410;
$information-background: #e9ecf0;
$menu-background       : #111b30;
$border-left-menu      : #131e34;
$press-link-hover      : #f6d779;
$blog-link-hover       : #85a3c8;
$new-link-hover        : #e286a3;
$hero-button-background: #333943;
$works-text            : #e9edf2;
$news-title-color      : #dd2257;
$blog-title-color      : #235ca2;
$more-button-top-bottom: #eff0f1;
$more-button-left-right: #9ca0a7;